services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: frota_frontend_dev
    ports:
      - "3000:3000"
    environment:
      - VITE_API_URL=http://localhost:8000
      - VITE_AUTH_API_URL=http://localhost:8001
    volumes:
      - ./src:/app/src
      - /app/node_modules